body {
    padding-top: 50px;
}

.container {
    padding: 40px 15px;
    width: 346px;
    height: 430;
    font-family: Arial, Helvetica, sans-serif;
}

/*Titulo*/ 
.header {
    background-color: rgb(68, 146, 236);
}

.header h1 {
    text-align: center;
    
    font-size: 100%;
    padding-top: 3px;
}

/* Formulario */
form {
    margin-left: 10px;
    margin-top: 15px;
    font-size: 13px;
}

.corpo-form {
    width: 70%;
    float: left;
    margin-right: 15px;
}

.marca {
    margin-right: 20px;
}

#marca {
    width: 70%;
    height: 25px;
    margin-right: 0;
}

.partes {
    margin-bottom: 20px;
}

.partes label {
    vertical-align: bottom;
}

input[type="text"], select {
    float: right;
}

#anoFabricacao {
    width: 50%;
}

#outro-text {
    width: 130px;
}

/* Textos de Validações */

.txt-valida {
    color: red;
}

.txt-marca {
    position: absolute;
    top: 50px;
    left: 260px;
}

.txt-modelo {
    position: absolute;
    top: 85px;
    left: 260px;
}

.txt-ano {
    position: absolute;
    top: 120px;
    left: 260px;
}

.txt-opcionais {
    position: absolute;
    top: 155px;
    left: 260px;
}

/* Botoes */

.cadastrar {
    margin-top: 240px;
    margin-bottom: 20px;
}

.limpar {
    width: 75px;
}




